# specific files
.replit
poetry.lock
pyproject.toml
replit.nix
config.ini
database/README_DB.txt
database/ewallet.pem
database/tnsnames.ora
database/Wallet_CrownStoreDealsBotDB.zip

# folders
__pycache__
scripts
entities

# all log files
*.log